.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	display: none;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	outline: 0
}

.modal-dialog {
	position: relative;
	width: 75%;
	max-width: 300px;
	margin: 20px auto
}

@media (min-width:768px) {
	.modal-content {
		-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
		box-shadow: 0 5px 15px rgba(0, 0, 0, .5)
	}
}

#modalClose {
	position: absolute;
	width: 40px;
	line-height: 40px;
	right: -16px;
	top: 75px;
	z-index:999;
	background: rgba(0, 0, 0, .85);
	color: #fff;
	border-radius: 50px;
	font-family: Arial;
	font-size: 20px;
	font-weight: 100;
	text-align: center;
	margin: 0;
	cursor: pointer;
}

.modal-content {
	position: relative;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #999;
	border: 1px solid rgba(0, 0, 0, .2);
	border-radius: 6px;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	outline: 0;
	-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
	box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
	line-height: 1.5;
	font-size: 18px;
	text-align: center;
	padding: 14px 0;
	margin-top: -1px;
}

.wxh {
	margin: 5px 14px;
	color: red;
	font-weight: bold;
	font-size: 1.6em;
	background: yellow
}